<h2>Who the hell are you?</h2>

<form action="/submit_name" method="POST">

  <label>Name</label>
  <input type="text" size="30" name="name"><br><br>

  <button type="submit">Submit</button>

</form>
